@font-face {
    font-family:"product-sans";
    src: url("/fonts/google-sans/ProductSans-Black.woff");
    src: url("/fonts/google-sans/ProductSans-Bold.woff");
    src: url("/fonts/google-sans/ProductSans-Medium.woff");
    src: url("/fonts/google-sans/ProductSans-Regular.woff");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "product-sans"
}
h1{
    padding-bottom: 30px;
    color: #010326;
}
main{
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: 400px 400px
}
p{
    color: #D5DAF2;
    padding-left: 5px;
}
.resultado{
    margin-top: 20px;
    margin-left: 20px;
}
.containerLimpiar{
    position: relative;
    display:block;
    align-items: center;
    justify-content: center;
    background-color: #D5DAF2;
    border-radius: 50px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    max-width: 400px;
    max-height: 475px;
    overflow-y: scroll;
}
.containerLimpiar .resultado p{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    color: #010326;
}

#historial{
    color: #010326;
}
body{
    background-color: #010326;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.main{
    padding: 50px;
    background-color: #D5DAF2;
    border-radius: 50px;
    width: 400px;
    max-width: 400px;
}
select{
    border-color: #010326;
    border-width: 2px;
    height: 35px;
    border-radius: 10px;
    width: 70px;
}
.fa-copyright{
    color: #D5DAF2;
    animation: rotation 2.5s infinite linear;
}
@keyframes rotation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
}
.currency-icon{
    display: flex;
    justify-content: center;
}
.monto{
    padding-bottom: 25px;
}
.fas{
    size: 0%;
}
.banderas{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
}
.bandera{
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.options{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.btnLimpiar{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.containerLimpiar::-webkit-scrollbar-track {
    background:#D5DAF2;        /* color of the tracking area */
        }
.containerLimpiar::-webkit-scrollbar {
        width: 12px;               /* width of the entire scrollbar */
        }
.containerLimpiar::-webkit-scrollbar-thumb {
        background-color: #D5DAF2;    /* color of the scroll thumb */
        border-radius: 20px;       /* roundness of the scroll thumb */
        border: 3px solid #010326;  /* creates padding around scroll thumb */
        }
#btnLimpiar{
    background-color: #010326;
    font-weight: bold;
    color: #D5DAF2;
    width: 100px;
    height: 35px;
    border-radius: 10px;
}
.btnCambio{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    color: #D5DAF2;
    border-color: #010326;
    background-color: #010326;
}

.btnCalcular{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
#btnCalcular{
    background-color: #010326;
    font-weight: bold;
    color: #D5DAF2;
    width: 100px;
    height: 35px;
    border-radius: 10px;
}

a{
    text-decoration: none;
}

#importe{
    height: 40px;
    width: 100%;
    font-size: 17px;
    padding: 0 15px;
    border: 1px solid black;
    border-radius: 12px;
    border-width: 2px
}
footer{
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 30px;
}